<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1233</integer>
		<key>name</key>
		<string>Phương Pháp Đầu Tư Warren Buffett</string>
		<key>author</key>
		<string>Robert G. Hagstrom</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>Sách Phong Cách Đầu Tư Warren Buffett PDF, Hagstrom chắt lọc những lý thuyết thành 12 nguyên lý. Vượt qua mưa sa bão táp, trải qua 81 kiếp nạn, vẫn không hề thay đổi , nguyên lý này là kim chỉ nam của bất cứ nhà đầu tư nào. Tất nhiên, không phải ai sau khi nắm được phương pháp của Buffett là giàu như ông được. Nhưng hiểu được phương pháp của Buffett sẽ giúp các nhà đầu tư có kiến thức đầu tư tốt hơn trong hành trình làm giàu của mình từ TTCK.
    </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1110</integer>
		<key>name</key>
		<string>Phù Thuỷ Sàn Chứng Khoán</string>
		<key>author</key>
		<string>Phạm Quốc Trưởng</string>
		<key>number_page</key>
		<integer>692</integer>
		<key>desc</key>
		<string>Cuốn sách gồm một loạt các cuộc phỏng vấn với các nhà giao dịch thành công và nổi tiếng nhất, với nhiều chi tiết nhất về câu chuyện thành công và những bí mật kinh nghiệm chuyên môn của họ. Ngoài ra, cuốn sách không thể thiếu sự thật về sự nghiệp giao dịch của các nhà quản lý quỹ đầu tư vĩ đại nhất, các nhà giao dịch hàng đầu và các nhà đầu tư chứng khoán tư nhân: từ Richard Dennis, huyền thoại của Sàn chứng khoán Chicago kiêm người sáng lập của Turtles; đến nhà vô địch giao dịch Martin “Buzzy” Schwartz; hay William O&apos;Neil trứ danh, và cả Paul Tudor Jones, người đứng đầu của quỹ đầu tư với lợi nhuận hằng năm trong 5 năm liên tục là 100%.
Qua cuốn sách, bạn đọc sẽ biết: Các phù thủy trên sàn đã “thao túng” thị trường chứng khoán Mỹ bằng cách nào?
Jack D. Schwager
Đồng sáng lập kiêm Giám đốc nghiên cứu của hãng FundSeeder, chuyên tìm kiếm những tài năng giao dịch trên toàn thế giới.
Đối tác của Fortune Group, một hãng tư vấn về quỹ đầu tư có trụ sở tại London.
Có 22 năm kinh nghiệm là Giám đốc nghiên cứu cổ phiếu tương lai cho một số hãng hàng đầu phố Wall.
Diễn giả về các chủ đề phân tích chứng khoán như đặc điểm của các nhà giao dịch tài năng, danh mục quản lý quỹ đầu tư, phân tích kỹ thuật và đánh giá hệ thống giao dịch.
Nguồn : waka.vn
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1238</integer>
		<key>name</key>
		<string>Quốc Gia Khởi Nghiệp</string>
		<key>author</key>
		<string>Dan Senor - Saul Singer</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>
&quot;Quốc gia khởi nghiệp”là câu chuyện viết về sự phát triển thần kỳ của nền kinh tế Israel từ lúc lập quốc cho đến khi trở thành quốc gia có nền công nghệ hàng đầu thế giới. Quyển sách này có thể trả lời cho những thắc mắc làm thế nào một đất nước nhỏ bé lại có thể tồn tại giữa sự thù địch của các quốc gia lân cận, đối phó với những cuộc chiến giữ vững bờ cõi mà vẫn tạo ra sự sáng tạo vượt bậc trong các lĩnh vực công nghệ, quân sự và dân sự.
Nguồn : dtv-ebook.com
    </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1108</integer>
		<key>name</key>
		<string>48 Nguyên Tắc Chủ Chốt Của Quyền Lực</string>
		<key>author</key>
		<string>Robert Greene &amp; Joost Elffers</string>
		<key>number_page</key>
		<integer>692</integer>
		<key>desc</key>
		<string>Quyền lực là thứ mà rất nhiều người mong muốn nhưng không phải ai cũng dễ dàng đạt được. Vươn lên những vị trí cao hơn trong thang bậc xã hội thường được xem là một khát khao rất con người. Nhưng, liệu có phải chỉ những tài năng xuất chúng mới có thể đạt được điều đó? Không hẳn vậy. Bởi ít ai biết rằng, để giành được một vị trí quyền lực thực tế vẫn mang tính công thức.
Nguồn : dtv-ebook.com
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1026</integer>
		<key>name</key>
		<string>Chiến Tranh Tiền Tệ</string>
		<key>author</key>
		<string>Song Hongbing</string>
		<key>number_page</key>
		<integer>692</integer>
		<key>desc</key>
		<string>“Chiến tranh tiền tệ” giúp chúng ta hiểu nhiều điều, rằng Bill Gates chưa phải là người giàu nhất hành tinh, rằng tỉ lệ tử vong của các tổng thống Mỹ lại cao hơn tỉ lệ tử trận của binh lính Mỹ ngoài chiến trường, hay vì sao phố Wall lại mạo hiểm đổ hết vốn liếng của mình cho việc “đầu tư” vào Hitler.
“Chiến tranh tiền tệ” đề cập đến một cuộc chiến khốc liệt, không khoan nhượng và dai dẳng giữa một nhóm nhỏ các ông trùm tài chính - đứng đầu là gia tộc Rothschild - với các thể chế tài chính kinh tế của nhiều quốc gia. Đó là một cuộc chiến mà đồng tiền là súng đạn và mức sát thương thật là ghê gớm. Một cuốn sách thực sự làm sửng sốt với những ai muốn tìm hiểu về bản chất tiền tệ để từ đó nhận ra những hiểm hoạ tài chính tiềm ẩn nhằm chuẩn bị tâm lý cho một cuộc chiến tiền tệ “không đổ máu”.
Bên cạnh việc phơi bày những âm mưu của các nhà tài phiệt thế giới trong việc tạo ra những cơn “hạn hán” hay “bão lũ” về tiền tệ để thu lợi nhuận, cuốn sách cũng đề cập đến sự phát triển của các định chế tài chính thế giới - những cơ cấu được xây dựng nhằm đáp ứng nhu cầu phát triển vũ bão của nền kinh tế toàn cầu.
Nguồn : epub.vn
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1005</integer>
		<key>name</key>
		<string>Người Bán Hàng Vĩ Đại Nhất Thế Giới</string>
		<key>author</key>
		<string>Og Mandino</string>
		<key>number_page</key>
		<integer>296</integer>
		<key>desc</key>
		<string>&quot;Người Bán Hàng Vĩ Đại Nhất Thế Giới&quot; kể về câu chuyện của Hafid, một cậu bé chăn lạc đà nghèo, ở Jerusalem thời cổ đại.  Xuất thân là một cậu nhóc trông lạc đà cho đoàn buôn của Pathros, nhưng với quyết tâm đổi đời, muốn cải thiện vị trí của mình trong cuộc sống, Hafid luôn nuôi ước mơ được trở thành người bán hàng. Cậu tin chỉ như thế mình mới có cơ hội trở nên giàu có và thành công.
Giống như nhiều người theo đuổi đam mê khác, trong suốt hành trình ấy đôi lúc Hafid đã nghĩ đến việc quay trở về với công việc chăn lạc đà, kiếm những đồng xu lẻ sống qua ngày. Biết bao nhiêu mối suy tư nghi ngờ, thương tiếc bản thân đã nảy ra trong tâm trí và bủa vây lấy cậu, nhưng với ý chí và quyết tâm, cuối cùng Hafid cũng trở thành người bán hàng tài năng nhất lúc bấy giờ.
Bí mật nào đã làm nên thành công? Đó chính là những nguyên tắc được một thương nhân giàu có và thành công truyền lại và Hafid đã giữ kỹ trong 10 cuộn giấy da trong suốt hơn ba thập kỉ qua. Với Hafid, những thứ giản dị này còn quý hơn cả kim cương. Nhờ áp dụng những nguyên tắc trong cuộn giấy da đó mà Hafid được mệnh danh là “Người bán hàng vĩ đại nhất thế giới”. Tuy nhiên, sách không chỉ dạy bạn cách “bán hàng”, mà nó còn là một cuốn sách dạy bạn làm người, giúp bạn trở thành người “vĩ đại nhất” trong lĩnh vực mà bạn chọn.
Vậy những nguyên tắc ấy là gì và làm cách nào để đưa chúng vào thực tiễn? Những bí mật này chỉ được tiết lộ khi bạn cầm trên tay cuốn sách Người bán hàng vĩ đại nhất thế giới, đọc thật cẩn thận, tiếp thu và lưu từng chi tiết.
Cho đến nay, cuốn sách này được dịch ra 25 ngôn ngữ và đã bán hơn 50 triệu bản, trở thành cuốn sách gối đầu giường của nhiều doanh nhân và truyền lửa cho hàng triệu người. Khi cảm thấy chán nản hoặc sợ hãi, hãy đọc cuốn sách này thật chậm, rồi bạn sẽ cảm thấy nhẹ nhõm và trở nên thông suốt, nhận ra con đường dẫn đến thành công bằng cách lắng nghe sự khôn ngoan bên trong bản thân của mình.
Nguồn : dtv-ebook.com
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<real>1007</real>
		<key>name</key>
		<string>Tỷ Phú Bán Giầy</string>
		<key>author</key>
		<string>Tony Hsieh</string>
		<key>number_page</key>
		<integer>296</integer>
		<key>desc</key>
		<string>Tỷ Phú Bán Giày không phải là một cuốn sách dạy cách làm giàu tuần tự theo các bước 1 - 2 - 3,... cũng không hẳn là một cuốn sách chỉ dẫn bí quyết kinh doanh hay nghệ thuật quản lý. Là hành trình tìm ra chân lý của Hạnh phúc, Đam mê và Lợi nhuận, Tỷ Phú Bán Giày kể câu chuyện về thành công và thất bại của tác giả từ những thương vụ kinh doanh được khởi nghiệp từ khi 9 tuổi. Những trang trại giun đất, làm cúc áo thủ công, bán pizza ở Harvard,... đã trở thành nền móng cho một LinkExchange và sau này là Zappos lừng danh.
Với Tỷ Phú Bán Giày, người đọc sẽ nhận được cảm hứng, nhiệt tình và cả một chút điên rồ cho những ý tưởng kinh doanh mà nghe qua tưởng như rất liều mạng. Nhưng với Zappos, Tony Hsieh đã tạo dựng được một thương hiệu về &quot;văn hóa công ty&quot; - chìa khóa thành công để theo đuổi một môi trường làm việc năng động và những dịch vụ xuất sắc.
***
Là cuốn sách bán chạy nhất trên trang Amazon.com: xếp thứ 1 trong các sách về Dịch vụ khách hàng; xếp thứ 5 trong các sách về Marketing và Bán hàng; và xếp thứ 7 trong các sách về Quản lý.
Cuốn sách là một câu chuyện về một doanh nghiệp thành công, trong đó, Tony Hseih chia sẻ những bài học kinh doanh khác nhau mà ông đã học được trong cuộc đời, từ một quầy bán nước chanh và cửa hàng bán pizza cho tới LinkExchange, Zappos.
Nguồn : tve-4u.org
</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1230</integer>
		<key>name</key>
		<string>Sách Nghệ Thuật Chinh Phục Khách Hàng</string>
		<key>author</key>
		<string>Janelle Barlow</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>
Trong Nghệ thuật Chinh Phục Khách Hàng bậc thầy Janelle Barlow và Claus Moller đã giới thiệu một ý tưởng đột phá mang tính cách mạng: Biến những lời phàn nàn, chỉ trích thành một món quà. Thật vậy, lời phàn nàn của khách hàng là thông tin phản hồi quý báu có thể giúp các doanh nghiệp cải thiện chất lượng sản phẩm, nâng cấp dịch vụ, ứng xử của con người và xác định trọng tâm định hướng sản xuất, kinh doanh, thị trường một cách nhanh chóng, hiệu quả và ít tốn kém nhất.
Nguồn : dtv-ebook.com
    </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<real>1009</real>
		<key>name</key>
		<string>Nghĩ giàu, Làm giàu</string>
		<key>author</key>
		<string>Charles H. Cranford - Napoleon Hill</string>
		<key>number_page</key>
		<integer>296</integer>
		<key>desc</key>
		<string>Trong cuốn sách dạy kinh doanh này bạn sẽ tìm thấy một kế hoạch đã được kiểm nghiệm, làm thế nào để trở thành người giàu có. Cuốn sách “Suy Nghĩ Và Làm Giàu” sẽ bày cho bạn cách hành động – và hành động ngay lập tức. Sẽ kể về điều giúp một con người suốt đời tiến lên phía trước, xây dựng hạnh phúc của riêng mình và nhân tài sản lên trong khi những người khác còn chưa bắt đầu.
Thật ra thì cái gì tiếp thêm cho người này sức mạnh và nghị lực, trong khi mặc cho người khác bị động? Tại sao họ có thể nhìn ra tương lai trong hàng núi vấn đề và tiến đến điều họ thường mơ ước, không để ý đến những đòn đánh ác nghiệt của số phận, trong khi đó những người khác hành động một cách tuyệt vọng, luôn luôn sai lầm, và cuối cùng cũng chẳng đi đến đâu?
Nhiều năm về trước Napoleon Hill trong lúc nói chuyện với Andrew Carneghi – một trong những người giàu có nhất hành tinh – cảm giác như mình đã thấy được sự loé sáng của điều bí mật vĩ đại này. Carneghi khuyên Hill nên phân tích các phương pháp mà những người nắm được bí mật này đã sử dụng, và đưa ra công thức thành công để làm mẫu và thí dụ cho toàn thế giới.
Nguồn : epub.vn
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1066</integer>
		<key>name</key>
		<string>Từ Tốt Đến Vĩ Đại</string>
		<key>author</key>
		<string>Jim Collins</string>
		<key>number_page</key>
		<integer>296</integer>
		<key>desc</key>
		<string>Jim Collins cùng nhóm nghiên cứu đã miệt mài nghiên cứu những công ty có bước nhảy vọt và bền vững để rút ra những kết luận sát sườn, những yếu tố cần kíp để đưa công ty từ tốt đến vĩ đại. Đó là những yếu tố khả năng lãnh đạo, con người, văn hóa, kỷ luật, công nghệ… Những yếu tố này được nhóm nghiên cứu xem xét tỉ mỉ và kiểm chứng cụ thể qua 11 công ty nhảy vọt lên vĩ đại. Mỗi kết luận của nhóm nghiên cứu đều hữu ích, vượt thời gian, ý nghĩa vô cùng to lớn đối với mọi lãnh đạo và quản lý ở mọi loại hình công ty (từ công ty có nền tảng và xuất phát tốt đến những công ty mới khởi nghiệp), và mọi lĩnh vực ngành nghề. Đây là cuốn sách nên đọc đối với bất kỳ lãnh đạo hay quản lý nào!
Nguồn : epub.vn
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1002</integer>
		<key>name</key>
		<string>Cha Giàu, Cha Nghèo</string>
		<key>author</key>
		<string>Robert Kiyosaki</string>
		<key>number_page</key>
		<integer>1125</integer>
		<key>desc</key>
		<string>Cuốn sách dạy con: Cách suy nghĩ về đồng tiền sẽ quyết định tương lai và sự giàu có của bạn.
Có rất nhiều phương pháp để tôi và bạn cải thiện cuộc sống và thu nhập, nhưng với &quot;cha giàu, cha nghèo&quot; của Robert Kiyosaki, bạn sẽ biết được chìa khóa nền tảng để trở nên giàu có hơn.
Nếu như bạn muốn có thật nhiều tiền, tiêu pha vô tư thì bạn hãy đọc Cha giàu, cha nghèo vì cuốn sách này giới thiệu vô vàn kiến thức bổ ích về thị trường marketing và tình hình tài chính sau này của bạn.
Nếu như bạn muốn học hỏi được cách giúp mình trở thành giàu có và luôn trong tình trạng duy trì được mức sống giàu sang lâu bền thì bạn chớ bỏ qua cuốn sách Cha Giàu Cha Nghèo (Rich Dad Poor Dad) này. Bởi không những phải bạn mà hãy cho con cái sau này của bạn cũng đọc nữa, một cuốn sách Dạy con làm giàu.
Tác giả của nhiều cuốn sách tài chính cá nhân và giảng viên Robert T. Kiyosaki đã phát triển quan điểm kinh tế độc đáo của mình từ hai ảnh hưởng rất khác nhau từ hai ông bố của ông. Một người cha (cha đẻ của Robert) là một người có học thức cao nhưng nghèo tài chính. Người cha kia là cha của người bạn thân nhất của Robert – cha của anh ta là người bỏ học thứ tám, người đã trở thành một triệu phú. Hai người cha, đều là những người có sự thành đạt trong cuộc sống, tính cách mạnh mẽ và có sức ảnh hưởng đến người khác
Với cách viết đơn giản, sâu sắc, xuất phát từ thực tế cuộc sống sẽ giúp bạn hiểu được vấn đề làm giàu một cách cụ thể và chi tiết nhất. Với lối viết như vậy càng chứng tỏ đây là cuốn sách rất đáng đọc.
Cuốn sách Cha Giàu Cha Nghèo nói về cách làm sinh ra đồng tiền và quan điểm rất hay về đồng tiền., khơi dậy khả năng kiếm tiền của mỗi cá nhân.
Hai quan điểm khác nhau đó là: Tham tiền là một tội ác, còn người kia lại bảo Nghèo hèn là nguồn gốc của mọi tội ác. Bài học mà bạn đọc nhận được từ cuốn sách này đó là: Người giàu không làm việc vì tiền, bắt tiền làm việc cho mình. Hai nữa là nếu như bạn muon làm giàu phải có vốn kiến thức nền tảng cho mình như tài chính, thị trường, cung cầu… Nếu bạn hiểu được những vấn đề này, nội dung của sách sẽ được hấp thu dễ dàng và sâu sắc hơn.
Cuốn Cha giàu, cha nghèo không chỉ đơn giản là 1 cuốn sách nói đến đồng tiền, với cách trình bày đơn giản, dễ hiểu, nhằm đem đến cho bạn thông tin chủ yếu biết cách tập trung sức lực bản thân vào đâu để mình trở thành giàu có, đồng thời khích lệ tinh thần của bạn phải luôn giữ lập trường và mạnh mẽ xông xáo trên thương trường.
Nguồn : epub.vn
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1229</integer>
		<key>name</key>
		<string>Lợi Thế Đen</string>
		<key>author</key>
		<string>Sheelah Kolhatkar</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>
Trong thập niên đầu tiên của thế kỷ 21, các quỹ phòng hộ lặng lẽ xâm nhập thị trường tài chính và thay đổi sâu sắc cách thức kiếm lời của phố Wall. Những nhà đầu tư kiểu mới  này không còn bỏ tiền vào những khoản đầu tư dài hạn như hạ tầng giao thông, xây dựng nhà máy hay phát triển các công nghệ mới; họ kiếm được hàng tỉ đô la bằng các nghiệp vụ đầu cơ, bằng việc đặt cược vào sự lên xuống của cổ phiếu.
Quỹ phòng hộ SAC Capital của Steven A. Cohen nổi lên trong số những nhà đầu tư kiểu mới đó. SAC Capital được coi là quỹ đầu cơ thành công nhất Phố Wall trong suốt cuối những năm 1990 đến năm 2016; tỉ phú Steven Cohen không chỉ trở thành huyền thoại sống của Phố Wall mà còn trở thành đích ngắm của Cục Điều tra Liên bang FBI, bởi những bằng chứng cho thấy Steven Cohen đã dùng uy tín và tiềm lực tài chính của SAC để thao túng thông tin thị trường, lách các khe hở luật pháp và kiếm lợi nhuận kếch sù.
Cuốn sách này là bản tường thuật tỉ mỉ cuộc điều tra kéo dài bảy năm của các cơ quan công quyền đối với ngành quỹ phòng hộ nói chung và SAC nói riêng. Một cuộc chiến giữa giới công chức mẫn cán với những tay giao dịch cổ cồn trắng say mê lợi nhuận; một cuộc chiến đã, đang và có lẽ chưa bao giờ ngừng lại. 
“Một phiên bản hiện đại của Moby-Dick với những đường dây nghe lén điện thoại thay cho những chiếc lao.”
- Jennifer Senior, The New York Times
“Có rất ít những vụ điều tra trong ngành tài chính đạt được tầm cỡ như câu chuyện được kể trong cuốn sách này.”
- Reuters Breakingviews&quot;
Nguồn : dtv-ebook.com
    </string>
	</dict>
</array>
</plist>
