<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1256</integer>
		<key>name</key>
		<string>Từng Bước Nở Hoa Sen</string>
		<key>author</key>
		<string>Thích Nhất Hạnh</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>Từng Bước Nở Hoa Sen
Không nhơ cũng không sạch
Không bớt cũng không thêm
Trí tuệ Ba La Mật
Không có pháp nào trên
Sống là chuyển hóa không ngừng, tất cả mọi vật nương vào nhau để tồn tại. Thân tâm an trú trong chánh niệm thì khi đốt một lò trầm, tâm ta cũng thanh tịnh. Chấp nhận cuộc đời là chấp nhận cả sinh lẫn diệt, cả còn lẫn mất, cả vui lẫn buồn. Vì có sự sống là có chết chóc… có sum họp thì có chia lìa, có được thì sẽ mất đi…
Đức Phật dạy rằng: “Cứu chữa cho tâm quan trọng hơn là cho thân, vì đó là nguyên nhân gây ra bao điều tội lỗi. Người có tâm từ bi rộng lớn và hành vi thiện lành, tâm sẽ ít bị vẩn đục bởi phiền não tham, sân, si chi phối. Nếu chúng ta mỗi ngày tỉnh giác từng ý nghĩ, lời nói và hành động của mình, thì ta sẽ biết cách làm chủ bản thân để ngày càng hoàn thiện chính mình hơn về mọi mặt.”
Từng bước nở hoa sen của Thiền sư Thích Nhất Hạnh là một trong những quyển sách “dạy” ta cách sống an nhiên như thế. Bốn mươi bảy bài kệ trong sách cũng là bốn mươi bảy bài học giúp ta tu tập chánh niệm mỗi ngày, hướng đến sự an lạc trong cả tâm, thân và sống hết mình cho từng giây phút hiện tại.
Nguồn: epub.vn</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1255</integer>
		<key>name</key>
		<string>Bí Quyết Đơn Giản Hóa Cuộc Sống</string>
		<key>author</key>
		<string>Lothar J. Seiwert</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>Cuốn sách mà bạn đang cầm trong tay sẽ trở thành một trong những cuốn sách quan trọng nhất trong cuộc đời bạn. Hẳn bạn cũng đã từng nghe nhiều tác giả nói như thế về sách của họ. Tuy nhiên, sau nhiều cuộc hội thảo, thuyết trình và các khóa bổ sung kiến thức chuyên sâu, chúng tôi tin rằng cuốn sách này sẽ thật sự làm cho cuộc sống của bạn trở nên đầy đủ hơn.
Cuốn sách này đề cập đến nghệ thuật am hiểu cuộc sống, giải phóng tiềm năng trong con người bạn, đồng thời đưa bạn đến với hạnh phúc và sự viên mãn.
Chúng tôi tin rằng không ai có thể mang đến cho bạn ý nghĩa của cuộc sống bởi nó hiện diện ngay bên trong bạn. Sống một cuộc đời ý nghĩa bao gồm việc phát triển tiềm năng của mình theo hướng tốt nhất và tham gia vào các hoạt động xã hội, nơi bạn có thể đạt được sự phát triển tuyệt vời nhất cho bản thân và cho cộng đồng – đây là sự cân bằng lý tưởng giữa tình yêu thương bản thân và lòng vị tha.
Nếu làm theo &quot;con đường đơn giản hóa&quot; được giải thích trong cuốn sách này, bạn sẽ tìm được ý nghĩa và vận mệnh của cuộc đời mình. Bạn sẽ thay đổi từ ngoài vào trong và từ trong ra ngoài. Bạn sẽ tìm được những lục địa mới trong chính bản thân mình. Bạn sẽ phát triển những nguồn sức mạnh của bản thân mà trước đây bạn chưa từng biết. Bạn sẽ tìm thấy một cấp độ hoàn toàn mới của sự thỏa mãn về mặt thể chất. Vị thế của bạn sẽ được cải thiện. Bạn sẽ được đề cao và yêu thương. Và bạn sẽ thật sự hạnh phúc từ trong nội tâm.
Nhiều người không tìm được ý nghĩa trong cuộc sống bởi họ đặt ra những câu hỏi quá phức tạp. Họ không nhìn thấy vẻ đẹp của sự đơn giản.
Khi bạn đã đọc đến đây, nghĩa là bạn đã bắt đầu cuộc hành trình đơn giản hóa. Chúng tôi hy vọng bạn sẽ tìm được những trải nghiệm thú vị và vui vẻ khi tiến những bước xa hơn trên hành trình đó.
Nguồn: dtv-ebook.vn</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1254</integer>
		<key>name</key>
		<string>Cái Dũng Của Thánh Nhân</string>
		<key>author</key>
		<string>Thu Giang Nguyễn Duy Cần</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>Cái dũng của thánh nhân – Là những tính cách, khí chất mà mỗi người cần có để có thể bình thản trước những tác động từ ngoại giới. Những tính cách và khí chất đã được người xưa kiểm chứng và vượt thời gian qua ngàn đời sau vẫn vậy. Trong thế giới hiện đại, có nhiều điều tác động tới đời sống làm chúng ta dao động, không yên. Tuy nhiên, chúng ta vẫn có thể làm được như người xưa, bằng cách rèn luyện những tính cách và khí chất của người xưa.
“Cái dũng của thánh nhân” là một cuốn sách kỹ năng sống để rèn luyện lên những đức tính tốt như: tư đức, công hạnh, điềm đạm, khí lực, tinh thần trách nhiệm,… Những tính cách giúp mỗi người có cuộc sống thành đạt và bình yên.
Nguồn: epub.vn</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1253</integer>
		<key>name</key>
		<string>Sức  Mạnh Của Tĩnh Lặng</string>
		<key>author</key>
		<string>Hải Hoa</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string> Trái tim của chúng ta giống như một chiếc cốc thủy tinh. Khi cốc đựng đầy nước ép trái cây, người ta sẽ nói: &quot;Đây là một cốc nước ép hoa quả&quot;. Khi nó đựng đầy sữa, người ta lại nói: &quot;Đây là một cốc sữa&quot;. Còn chỉ khi chiếc cốc trống trơn thì người ta mới nói: &quot;Đây là một cái cốc&quot;. Rất nhiều lúc, trái tim của chúng ta chất chứa quá nhiều thứ, đến nỗi không thể nhìn thấy được cái tôi chân thực. Vì vậy, chỉ có vứt bỏ mọi sự rối ren để tâm tĩnh lại thì mới có thể xoa dịu được tâm trạng lo lắng bất an trong lòng, lấy lại sự yên bình và niềm vui trong tim.
&quot;Gặp được cái tôi tĩnh tâm&quot;, dù biết phía trước là vùng hiểm trở, bạn cũng có thể coi là đồng bằng để vững bước đi qua; dù trước mắt thế sự bãi bể nương dâu, đổi thay nhanh chóng, bạn cũng vẫn có được sự bình an trong lòng.&quot;Gặp được cái tôi tĩnh tâm&quot;, tuy tạm thời phải chịu ấm ức và không vui, vẫn có thể yên lòng; tuy cuộc sống bình dị, cũng có thể tận hưởng năm tháng bình yên.
 &quot;Gặp được cái tôi tĩnh tâm&quot;, cho dù tạm thời phải chịu đau khổ, song bạn cũng sẽ nhận được ý vị riêng của nó; cho dù cuộc đời trôi qua bình lặng song vẫn có thể tìm thấy được sự vừa ý và nhẹ nhõm của riêng mình.
Chúng ta đã biết nên tĩnh tâm hưởng thụ cuộc sống, tuy nhiên làm thế nào để có thể tĩnh tâm? Hãy để cuốn sách này dẫn dắt bạn, để sự &quot;tĩnh&quot; thẩm thấu dần vào từng chi tiết của cuộc sống, giúp bạn nhìn thấu tất cả vinh nhục, được mất, thị phi, trắng đen, và dùng sự tỉnh táo và lí trí để nhìn nhận cuộc đời.
Nguồn: dtv-ebook.vn</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<real>1250</real>
		<key>name</key>
		<string>Không Sinh, Không Diệt, Đừng Sợ Hãi</string>
		<key>author</key>
		<string> Thích Nhất Hạnh</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>Không diệt Không sinh Đừng sợ hãi là tựa sách được Thiền sư Thích Nhất Hạnh viết nên dựa trên kinh nghiệm của chính mình. Ở đó, Thầy Nhất Hạnh đã đưa ra một thay thế đáng ngạc nhiên cho hai triết lý trái ngược nhau về vĩnh cửu và hư không: “Tự muôn đời tôi vẫn tự do. Tử sinh chỉ là cửa ngõ ra vào, tử sinh là trò chơi cút bắt. Tôi chưa bao giờ từng sinh cũng chưa bao giờ từng diệt” và “Nỗi khổ lớn nhất của chúng ta là ý niệm về đến-đi, lui-tới.”
Được lặp đi lặp lại nhiều lần, Thầy khuyên chúng ta thực tập nhìn sâu để chúng ta hiểu được và tự mình nếm được sự tự do của con đường chính giữa, không bị kẹt vào cả hai ý niệm của vĩnh cửu và hư không. Là một thi sĩ nên khi giải thích về các sự trái ngược trong đời sống, Thầy đã nhẹ nhàng vén bức màn vô minh ảo tưởng dùm chúng ta, cho phép chúng ta (có lẽ lần đầu tiên trong đời) được biết rằng sự kinh hoàng về cái chết chỉ có nguyên nhân là các ý niệm và hiểu biết sai lầm của chính mình mà thôi.
Tri kiến về sống, chết của Thầy vô cùng vi tế và đẹp đẽ. Cũng như những điều vi tế, đẹp đẽ khác, cách thưởng thức hay nhất là thiền quán trong thinh lặng. Lòng nhân hậu và từ bi phát xuất từ suối nguồn thâm tuệ của Thiền sư Thích Nhất Hạnh là một loại thuốc chữa lành những vết thương trong trái tim chúng ta.
Nguồn : epub.vn</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<real>1250</real>
		<key>name</key>
		<string>Không Sinh, Không Diệt, Đừng Sợ Hãi</string>
		<key>author</key>
		<string> Thích Nhất Hạnh</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>Không diệt Không sinh Đừng sợ hãi là tựa sách được Thiền sư Thích Nhất Hạnh viết nên dựa trên kinh nghiệm của chính mình. Ở đó, Thầy Nhất Hạnh đã đưa ra một thay thế đáng ngạc nhiên cho hai triết lý trái ngược nhau về vĩnh cửu và hư không: “Tự muôn đời tôi vẫn tự do. Tử sinh chỉ là cửa ngõ ra vào, tử sinh là trò chơi cút bắt. Tôi chưa bao giờ từng sinh cũng chưa bao giờ từng diệt” và “Nỗi khổ lớn nhất của chúng ta là ý niệm về đến-đi, lui-tới.”
Được lặp đi lặp lại nhiều lần, Thầy khuyên chúng ta thực tập nhìn sâu để chúng ta hiểu được và tự mình nếm được sự tự do của con đường chính giữa, không bị kẹt vào cả hai ý niệm của vĩnh cửu và hư không. Là một thi sĩ nên khi giải thích về các sự trái ngược trong đời sống, Thầy đã nhẹ nhàng vén bức màn vô minh ảo tưởng dùm chúng ta, cho phép chúng ta (có lẽ lần đầu tiên trong đời) được biết rằng sự kinh hoàng về cái chết chỉ có nguyên nhân là các ý niệm và hiểu biết sai lầm của chính mình mà thôi.
Tri kiến về sống, chết của Thầy vô cùng vi tế và đẹp đẽ. Cũng như những điều vi tế, đẹp đẽ khác, cách thưởng thức hay nhất là thiền quán trong thinh lặng. Lòng nhân hậu và từ bi phát xuất từ suối nguồn thâm tuệ của Thiền sư Thích Nhất Hạnh là một loại thuốc chữa lành những vết thương trong trái tim chúng ta.
Nguồn : epub.vn</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<real>1251</real>
		<key>name</key>
		<string>Kiến Phật</string>
		<key>author</key>
		<string>Rose Elliot</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>Là quyển sách kể về quá trình tham gia khóa tu của nữ tác giả Rose Elliot - tác giả của hơn 60 quyển sách hướng dẫn nấu ăn chay - cùng những người bạn xa lạ nhưng đã giành thời gian tụ họp với nhau vì chung một mục đích: mong tâm bình an.
Khóa tu được dẫn dắt bởi một nhà sư đã quy y ngã Phật hơn 30 năm. Nội dung quyển sách được chia thành 8 chương, mỗi chương ứng với một buổi học được tổ chức hằng tuần. Xuyên suốt chương sách, tác giả thuật lại những lời giảng của sư thầy, những chiêm nghiệm của bản thân cùng những suy nghĩ bâng quơ của mình khi thực hành “chánh niệm”.
Tất cả các bài rèn luyện trong đây đều là những giáo huấn uyên thâm của Đức Phật Thích Ca Mâu Ni, được rút tỉa từ những giáo pháp nhà Phật đã lưu truyền hơn 2500 năm qua và vẫn tiếp tục nuôi dưỡng cho tâm hồn chúng ta đến ngày nay.
Lớn lên trong gia đình có truyền thống linh thiêng và tôn nghiêm, nhưng đôi lúc Rose vẫn cảm thấy tâm hồn mình bí bách, vẫn có điểm chưa thể thông suốt. Và rồi chồng bà đề nghị tổ chức một khóa tu, kêu gọi những người có cùng chí hướng đến tham gia, mời một sư thầy đến để thuyết giảng những giáo lý Phật pháp. Vì yêu chồng, bà đồng ý tham gia cùng ông dù không mấy hứng thú. Nhưng rồi mọi thứ dần thay đổi khi bà nhận ra sự tuyệt diệu trong Phật pháp qua các bài học thực hành chánh niệm, hành thiền. Khóa tu đã thay đổi cuộc đời của chính tác giả, từ việc thông suốt những điểm “nghẹn” trong tư tưởng của bà cho đến việc mở ra những chân trời chiêm nghiệm mới. Chuyển biến chúng thành những thói quen, suy nghĩ, hành động thường ngày giúp bà ngộ ra những đạo lý đơn giản mà thâm sâu của nhà Phật. Và quan trọng nhất là giúp cho tâm bà cảm thấy an bình. Đó chính là lí do thôi thúc bà viết nên quyển sách này.
Quyển sách không hề mang nặng chủ nghĩa tôn giáo, đây chỉ đơn giản như quyển nhật ký của tác giả mà ai cũng có thể đọc, bất kể tôn giáo, bất kể quốc tịch, bất kể giới tính. Chỉ cần tâm bạn hướng về những điều tốt đẹp, muốn thấm nhuần những nguyên lý của cuộc đời, muốn hướng đến cái chân – thiện – mỹ, thì đây là quyển sách tuyệt vời dành cho bạn.
Nguồn: epub.vn</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<real>1243</real>
		<key>name</key>
		<string>Giận</string>
		<key>author</key>
		<string>Thích Nhất Hạnh</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>Theo Thiền sư Thích Nhất Hạnh, cơn giận cũng cần được chúng ta chăm sóc và ôm ấp cho đến khi chúng ta hiểu rõ nguồn gốc của sự vận hành của tâm sân hận trong ta. Nếu không tu tập, tâm trí chúng ta sẽ không được tự do, tương tụ như mọi thói quen, “chăm sóc em bé sân hận” cũng là quá trình bạn quan tâm đến cảm xúc của chính mình. Tu tập không phải là gò bó bản thân vào khuôn khổ để chịu đựng những quy tắc khó nhằn hay gây khó chịu cho chính mình mà tu tập là để tâm hồn được an nhiên, để kiềm chế được những cảm xúc tiêu cực. Như thầy Thích Thánh Tuệ đã từng nói: “Tu không phải là ngày mai, ngày kia sẽ hạnh phúc mà tu lúc nào là hạnh phúc lúc đó”. Đọc sách của Thiền sư Thích Nhất Hạnh, bản thân mình đã mở rộng được tâm hồn để lĩnh hội được những kiến thức rất hay mà thầy đã chuyển tải trên những trang sách, không hề gò bó, khó hiểu. Đọc từng trang sách, bản thân mình hiểu rằng, để tâm an nhiên và không sân hận chính mình phải học cách tu tập trước.</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1081</integer>
		<key>name</key>
		<string>Hạnh Phúc Tại Tâm</string>
		<key>author</key>
		<string>Osho</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>Hạnh phúc tại tâm là cuốn sách nằm trong số lượng đồ sộ các tác phẩm của Osho được học trò ghi lại. Những mẩu chuyện hài hước, những ngụ ngôn triết học, những tâm sự đầy trải nghiệm cá nhân, những đúc kết hiền minh... về hạnh phúc chân thật là tất cả những gì mà Osho dành cho người lắng nghe ông. Toàn bộ các chương mục trong cuốn sách này tập trung vào bản chất của đời sống và khả năng hạnh phúc của con người, sẽ cho bạn một cái nhìn sâu sắc về con đường tìm kiếm hạnh phúc của Osho.

Hạnh phúc tại tâm - quyển sách sẽ giúp bạn hiểu rằng hạnh phúc không ở đâu xa mà ở ngay bên trong con người bạn. Với những lý giải tinh tế của, Osho sẽ giúp bạn đọc có những trải nghiệm thật thú vị khi đọc quyển sách này, hệt như bạn đang được nói chuyện với chính mình - một cách thông minh nhất.</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1076</integer>
		<key>name</key>
		<string>Sức Mạnh Của Tĩnh Lặng</string>
		<key>author</key>
		<string>Eckhart Tolle</string>
		<key>number_page</key>
		<integer>1832</integer>
		<key>desc</key>
		<string>Sức mạnh của tĩnh lặng là tác phẩm tâm linh rất ngắn ngọn nhưng sâu sắc của Eckhart Tolle, tác giả được The New York Times bình chọn là một trong những tác giả có sách bán chạy nhất. Đây là một cuốn sách hữu ích và thiết thực cho những ai muốn tiếp xúc với bản chất sâu lắng, trong sáng và chân thật trong con người mình.
Cuốn sách có thể giúp bạn vun bồi sự vững chải, khả năng trầm lắng ở tâm hồn bên ngoài đang xảy ra những biến động gì đi nữa. Sức mạnh của tĩnh lặng có thể giúp bạn vượt qua những tình huống thử thách trong đời sống cá nhân và tiếp xúc được với một chiều không gian yên tĩnh và an bình ở bên trong. Cuốn sách sẽ giúp cho bạn khả năng lắng nghe sự tĩnh lặng ở trong bạn để có thể tìm ra lời giải cho những câu hỏi lớn mà bạn từng thao thức.
Sức mạnh của tĩnh lặng có thể giúp bạn rũ bỏ hết những khó khăn, hiểu lầm, vun bồi lại những quan hệ thân thiết trong đời mình, vượt lên trên những thói quen xưa cũ, những cách hành xử tiêu tực, thay đổi quan hệ của bạn với mọi người và với cuộc đời.</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1028</integer>
		<key>name</key>
		<string>Sống Đơn Giản Cho Mình Thanh Thản</string>
		<key>author</key>
		<string>Shunmyo Masuno</string>
		<key>number_page</key>
		<integer>1732</integer>
		<key>desc</key>
		<string>Sống đơn giản là sống như thế nào? Để có một cuộc sống đơn giản thì phải như thế nào? Nó không đơn giản như việc sắp xếp, dọn dẹp, bày biện lại một đống đồ vật. Nó cũng chẳng phải là sự bằng lòng với cuộc sống bình dị mà bạn đang có. Mà sống đơn giản là nhìn thấu được những điều quan trọng đối với bản thân mình.
Với sự đơn giản và tinh tế xuất phát từ nội tâm, “Sống đơn giản cho mình thanh thản” đem đến cho người đọc cảm giác thoải mái đến lạ, như được chạm vào tâm hồn, cũng như được khai sáng những góc khuất trong mỗi con người chúng ta. Tác phẩm được chuyển ngữ bởi dịch giả Như Nữ hoàn toàn truyền tải được cái thần của tác giả, hơn thế ngôn ngữ rất “mượt mà” mà lại đơn giản đến ngạc nhiên.
Nguồn : wattpad.com
        </string>
		<key>read_count</key>
		<string>500</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1014</integer>
		<key>name</key>
		<string>Hiểu Về Trái Tim</string>
		<key>author</key>
		<string>Minh Niệm </string>
		<key>number_page</key>
		<integer>692</integer>
		<key>desc</key>
		<string>Xuất bản lần đầu tiên vào năm 2011, Hiểu Về Trái Tim trình làng cũng lúc với kỷ lục: cuốn sách có số lượng in lần đầu lớn nhất: 100.000 bản. Trung tâm sách kỷ lục Việt Nam công nhận kỳ tích ấy nhưng đến nay, con số phát hành của Hiểu về trái tim vẫn chưa có dấu hiệu chậm lại.
Là tác phẩm đầu tay của nhà sư Minh Niệm, người sáng lập dòng thiền hiểu biết (Understanding Meditation), kết hợp giữa tư tưởng Phật giáo Đại thừa và Thiền nguyên thủy Vipassana, nhưng Hiểu Về Trái Tim không phải tác phẩm thuyết giáo về Phật pháp. Cuốn sách rất “đời” với những ưu tư của một người tu nhìn về cõi thế. Ở đó, có hạnh phúc, có đau khổ, có tình yêu, có cô đơn, có tuyệt vọng, có lười biếng, có yếu đuối, có buông xả… Nhưng, tất cả những hỉ nộ ái ố ấy đều được khoác lên tấm áo mới, một tấm áo tinh khiết và xuyên suốt, khiến người đọc khi nhìn vào, đều thấy mọi sự như nhẹ nhàng hơn…
Nguồn : waka.vn
        </string>
		<key>read_count</key>
		<string>759</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1078</integer>
		<key>name</key>
		<string>Thân Mật - Cội Nguồn Của Hạnh Phúc</string>
		<key>author</key>
		<string>Osho</string>
		<key>number_page</key>
		<integer>1143</integer>
		<key>desc</key>
		<string>Mọi người đều sợ thân thiết - nó là điều khác dù bạn nhận biết về nó hay không. Thân thiết nghĩa là phơi bày bản thân bạn trước người lạ - và chúng ta tất cả đều là người lạ; chẳng ai biết ai. Chúng ta thậm chí còn là người lạ với bản thân mình bởi vì chúng ta không biết chúng ta là ai.
Thân thiết đem bạn tới gần người lạ. Bạn phải vứt bỏ tất cả mọi phòng thủ; chỉ thế thì thân thiết mới là có thể. Và nỗi sợ là ở chỗ nếu bạn vứt bỏ tất cả mọi phòng thủ, tất cả mặt nạ của bạn, ai biết người lạ sẽ làm gì với bạn? Chúng ta tất cả đều che giấu cả nghìn lẻ một thứ, không chỉ với người khác mà với bản thân mình, bởi vì chúng ta đã được nuôi dưỡng bởi nhân loại ốm yếu với đủ mọi loại kìm nén, cấm đoán, kiêng kị. Và nỗi sợ là ở chỗ với ai đó là người lạ - và điều đó chẳng thành vấn đề, bạn có thể đã sống với một người trong ba mươi năm, bốn mươi năm; tính lạ chẳng bao giờ biến mất - người ta cảm thấy an toàn hơn khi giữ chút ít phòng thủ, chút ít khoảng cách, bởi vì ai đó có thể tận dụng điểm yếu của bạn, nhược điểm của bạn, mong manh của bạn.
Mọi người đều sợ thân thiết.
Nguồn : epub.vn
        </string>
		<key>read_count</key>
		<string>11106</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1028</integer>
		<key>name</key>
		<string>Sống Đơn Giản Cho Mình Thanh Thản</string>
		<key>author</key>
		<string>Shunmyo Masuno</string>
		<key>number_page</key>
		<integer>1732</integer>
		<key>desc</key>
		<string>Sống đơn giản là sống như thế nào? Để có một cuộc sống đơn giản thì phải như thế nào? Nó không đơn giản như việc sắp xếp, dọn dẹp, bày biện lại một đống đồ vật. Nó cũng chẳng phải là sự bằng lòng với cuộc sống bình dị mà bạn đang có. Mà sống đơn giản là nhìn thấu được những điều quan trọng đối với bản thân mình.
Với sự đơn giản và tinh tế xuất phát từ nội tâm, “Sống đơn giản cho mình thanh thản” đem đến cho người đọc cảm giác thoải mái đến lạ, như được chạm vào tâm hồn, cũng như được khai sáng những góc khuất trong mỗi con người chúng ta. Tác phẩm được chuyển ngữ bởi dịch giả Như Nữ hoàn toàn truyền tải được cái thần của tác giả, hơn thế ngôn ngữ rất “mượt mà” mà lại đơn giản đến ngạc nhiên.
Nguồn : wattpad.com
        </string>
		<key>read_count</key>
		<string>500</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1087</integer>
		<key>name</key>
		<string>Hạnh Phúc Không Khó Tìm - Tập 1</string>
		<key>author</key>
		<string>M.J Ryan</string>
		<key>number_page</key>
		<integer>1732</integer>
		<key>desc</key>
		<string>Rất nhiều người trong chúng ta đều nghĩ rằng khi đạt được những điều mà chúng ta hằng mong muốn như: giàu có về của cải, thăng tiến trong nghề nghiệp, một cuộc sống hôn nhân lý tưởng… thì sẽ cảm thấy hạnh phúc.
Tuy nhiên, khi đã có được những điều đó, nhiều người vẫn cảm thấy chưa được mãn nguyện, thậm chí là bế tắc. Chúng ta vẫn không tránh khỏi âu lo vì những vấn đề mới phát sinh trong cuộc sống. Tại sao lại như vậy? Làm thế nào để có được một cuộc sống vui tươi, hạnh phúc đúng như những gì cuộc sống vốn có? Và muốn có được hạnh phúc phải tìm ở đâu?
Nhằm giúp bạn đọc tìm được lời giải đáp cho những câu hỏi trên, First News trân trọng giới thiệu đến bạn đọc một quyển sách rất đặc biệt về cách tìm và cảm nhận hạnh phúc cuộc sống của tiến sĩ M.J. Ryan – một chuyên gia nổi tiếng thế giới trong lĩnh vực khám phá những giá trị tinh thần và hạnh phúc cuộc sống.
Ở mỗi người đều có những cách cảm nhận hạnh phúc riêng biệt, khác nhau. Vì thế không ai có thể định nghĩa hay liệt kê cụ thể về khái niệm hạnh phúc. Nhưng chúng ta có thể khái quát hạnh phúc như một vấn đề tinh tế của cảm xúc tinh thần liên quan mật thiết đến tích cách, mục đích sống và ước mơ của mỗi người…
Hạnh phúc là khi chúng ta biết cảm nhận, khám phá những điều mới mẻ từ cuộc sống, thực hiện được những điều mình ấp ủ, ước mơ. Hạnh phúc là khi ta tìm ra và trân trọng những niềm vui, giá trị giản dị của cuộc sống…
Và tất cả chúng ta đều được quyền lựa chọn để có được một cuộc sống hạnh phúc, hoàn toàn có khả năng tự mang lại hạnh phúc cho bản thân vào bất kỳ thời điểm nào. Có thể những nỗ lực của bạn chưa được đền đáp, có thể bạn đang phải chịu những áp lực từ công việc, gia đình hoặc đang vấp phải những sai lầm, thất bại… nhưng hãy tin rằng, bạn luôn luôn nắm giữ cơ hội mang lại hạnh phúc cho mình. Vì thế hãy mạnh dạn thay đổi suy nghĩ và cách nhìn để thực hiện được điều đó.
...Hạnh phúc bắt nguồn từ nội tâm, từ cách nhìn, cách ứng biến và cảm nhận cuộc sống. Hạnh phúc không khó tìm!
Nguồn : ebookvie.com
        </string>
		<key>read_count</key>
		<string>74</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1088</integer>
		<key>name</key>
		<string>Hạnh Phúc Không Khó Tìm - Tập 2</string>
		<key>author</key>
		<string>M.J Ryan</string>
		<key>number_page</key>
		<integer>1732</integer>
		<key>desc</key>
		<string>Rất nhiều người trong chúng ta đều nghĩ rằng khi đạt được những điều mà chúng ta hằng mong muốn như: giàu có về của cải, thăng tiến trong nghề nghiệp, một cuộc sống hôn nhân lý tưởng… thì sẽ cảm thấy hạnh phúc.
Tuy nhiên, khi đã có được những điều đó, nhiều người vẫn cảm thấy chưa được mãn nguyện, thậm chí là bế tắc. Chúng ta vẫn không tránh khỏi âu lo vì những vấn đề mới phát sinh trong cuộc sống. Tại sao lại như vậy? Làm thế nào để có được một cuộc sống vui tươi, hạnh phúc đúng như những gì cuộc sống vốn có? Và muốn có được hạnh phúc phải tìm ở đâu?
Nhằm giúp bạn đọc tìm được lời giải đáp cho những câu hỏi trên, First News trân trọng giới thiệu đến bạn đọc một quyển sách rất đặc biệt về cách tìm và cảm nhận hạnh phúc cuộc sống của tiến sĩ M.J. Ryan – một chuyên gia nổi tiếng thế giới trong lĩnh vực khám phá những giá trị tinh thần và hạnh phúc cuộc sống.
Ở mỗi người đều có những cách cảm nhận hạnh phúc riêng biệt, khác nhau. Vì thế không ai có thể định nghĩa hay liệt kê cụ thể về khái niệm hạnh phúc. Nhưng chúng ta có thể khái quát hạnh phúc như một vấn đề tinh tế của cảm xúc tinh thần liên quan mật thiết đến tích cách, mục đích sống và ước mơ của mỗi người…
Hạnh phúc là khi chúng ta biết cảm nhận, khám phá những điều mới mẻ từ cuộc sống, thực hiện được những điều mình ấp ủ, ước mơ. Hạnh phúc là khi ta tìm ra và trân trọng những niềm vui, giá trị giản dị của cuộc sống…
Và tất cả chúng ta đều được quyền lựa chọn để có được một cuộc sống hạnh phúc, hoàn toàn có khả năng tự mang lại hạnh phúc cho bản thân vào bất kỳ thời điểm nào. Có thể những nỗ lực của bạn chưa được đền đáp, có thể bạn đang phải chịu những áp lực từ công việc, gia đình hoặc đang vấp phải những sai lầm, thất bại… nhưng hãy tin rằng, bạn luôn luôn nắm giữ cơ hội mang lại hạnh phúc cho mình. Vì thế hãy mạnh dạn thay đổi suy nghĩ và cách nhìn để thực hiện được điều đó.
&quot;...Hạnh phúc bắt nguồn từ nội tâm, từ cách nhìn, cách ứng biến và cảm nhận cuộc sống. Hạnh phúc không khó tìm!&quot;
Nguồn : ebookvie.com
        </string>
		<key>read_count</key>
		<string>75</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1038</integer>
		<key>name</key>
		<string>Nếu Biết Trăm Năm Là Hữu Hạn</string>
		<key>author</key>
		<string>Phạm Lữ Ân</string>
		<key>number_page</key>
		<integer>1732</integer>
		<key>desc</key>
		<string>“Nếu biết trăm năm là hữu hạn, cớ gì ta không sống thật lâu…”
Bạn đang bỡ ngỡ với cuộc sống? Bạn đang loay hoay tìm một lối đi riêng cho bản thân mình? Hay đơn giản bạn đang cảm thấy cuộc sống này quá tẻ nhạt? Vậy thì, đừng bỏ qua cuốn sách “Nếu biết trăm năm là hữu hạn&quot; nhé, cuốn sách này  không những sẽ cho bạn nhận thấy được cuộc sống này ý nghĩa như thế nào mà còn giúp bạn tìm thấy được giá trị của bản thân mình và rất nhiều điều giá trị khác nữa.
“Nếu biết trăm năm là hữu hạn” còn là một trong những cuốn sách bán chạy nhất tại Việt Nam, cuốn sách đầu tiên xuất bản vào năm 2011 và cho đến thời điểm hiện tại thì cuốn sách này đã được tái bản 20 lần.
Nguồn : dtv-ebook.com
        </string>
		<key>read_count</key>
		<string>794</string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1030</integer>
		<key>name</key>
		<string>Đường Mây Qua Xứ Tuyết</string>
		<key>author</key>
		<string>Anagarika Govinda</string>
		<key>number_page</key>
		<integer>1592</integer>
		<key>desc</key>
		<string>“Đường mây qua xứ tuyết” là một trong những cuốn sách tâm linh bán chạy nhất, cuốn sách nói về Giáo Lý Tây Tạng, người đọc sẽ cảm nhận rõ nét hơn về khái niệm tự do, sự uyên thâm và tính nguyên thủy của Phật giáo Tây Tạng.
Tây Tạng được biết đến như một nơi huyền bí, bí ẩn,  biệt lập với thế giới bên ngoài, nhờ thế nó duy trì được một nền văn minh cổ khác với những nền văn minh mà chúng ta được biết đến và có sức hấp dẫn mãnh liệt đối với thế giới. Những bí ẩn về Tây Tạng, về huyền học hay Phật giáo Mật Tông sẽ được Anagarika Govinda tiết lộ thông qua “Đường mây qua xứ tuyết”.
Nguồn : tve-4u.org
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1016</integer>
		<key>name</key>
		<string>Muôn Kiếp Nhân Sinh 1</string>
		<key>author</key>
		<string>Nguyên Phong</string>
		<key>number_page</key>
		<integer>1143</integer>
		<key>desc</key>
		<string>Muôn Kiếp Nhân Sinh cung cấp cho bạn đọc kho kiến thức mới mẻ, vô tận của nhân loại lần đầu được hé mở, cùng những phân tích uyên bác, tiên đoán bất ngờ về hiện tại và tương lai thế giới của những bậc hiền triết thông thái. 
Thông điệp quan trọng xuyên suốt của tác phẩm thức tỉnh con người chính là nguồn gốc và cách thức vận hành luật Nhân quả và Luân hồi của vũ trụ. Đời người tưởng chừng rất dài nhưng lại trôi qua rất nhanh, sinh vượng suy tử, mong manh như sóng nước. Luật Nhân quả cực kỳ chính xác, chi tiết, phức tạp, được thu thập qua nhiều đời, nhiều kiếp, liên hệ tương hỗ đan xen chặt chẽ lẫn nhau, không ai có thể tính được tích đức này có thể trừ được nghiệp kia, không ai có thể biết được khi nào nhân sẽ trổ quả. Nhưng, một khi đã gây ra nhân thì chắc chắn sẽ gặt quả - luật Nhân quả trước giờ không bao giờ sai.
Nguồn : epub.vn
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1065</integer>
		<key>name</key>
		<string>Muôn Kiếp Nhân Sinh 2</string>
		<key>author</key>
		<string>Nguyên Phong</string>
		<key>number_page</key>
		<integer>1143</integer>
		<key>desc</key>
		<string>Muôn Kiếp Nhân Sinh là một bức tranh lớn với vô vàn mảnh ghép cuộc đời, là một cuốn phim đồ sộ, sống động về những kiếp sống huyền bí, trải dài từ nền văn minh Atlantis hùng mạnh đến vương quốc Ai Cập cổ đại của các Pharaoh quyền uy, đến Hợp Chủng Quốc Hoa Kỳ ngày nay - nơi nhân vật chính Thomas, người bạn tâm giao lâu năm của tác giả Nguyên Phong - đang sống.
Muôn Kiếp Nhân Sinh cung cấp cho bạn đọc kho kiến thức mới mẻ, vô tận của nhân loại lần đầu được hé mở, cùng những phân tích uyên bác, tiên đoán bất ngờ về hiện tại và tương lai thế giới của những bậc hiền triết thông thái. Thông điệp quan trọng xuyên suốt của tác phẩm thức tỉnh con người chính là nguồn gốc và cách thức vận hành luật Nhân quả và Luân hồi của vũ trụ. Đời người tưởng chừng rất dài nhưng lại trôi qua rất nhanh, sinh vượng suy tử, mong manh như sóng nước. Luật Nhân quả cực kỳ chính xác, chi tiết, phức tạp, được thu thập qua nhiều đời, nhiều kiếp, liên hệ tương hỗ đan xen chặt chẽ lẫn nhau, không ai có thể tính được tích đức này có thể trừ được nghiệp kia, không ai có thể biết được khi nào nhân sẽ trổ quả. Nhưng, một khi đã gây ra nhân thì chắc chắn sẽ gặt quả - luật Nhân quả trước giờ không bao giờ sai.
Nguồn : epub.vn
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1022</integer>
		<key>name</key>
		<string>Hành Trình Phương Đông</string>
		<key>author</key>
		<string>Baird T. Spalding</string>
		<key>number_page</key>
		<integer>1592</integer>
		<key>desc</key>
		<string>Hành trình về phương Đông - thông qua ngòi bút của dịch giả Nguyên phong - giúp người đọc đến gần với những nét văn hoá của phương Đông, khám phá các giá trị vĩnh hằng của cuộc sống. Tác phẩm luôn nằm trong top 10 cuốn sách bán chạy nhất của First News, được đánh giá là một trong những cuốn sách đương đại độc đáo, khác biệt nhất về phương Đông.
Hành trình về phương Đông kể về những trải nghiệm của một đoàn khoa học gồm các chuyên gia hàng đầu của Hội Khoa Học Hoàng Gia Anh được cử sang Ấn Độ nghiên cứu về huyền học và những khả năng siêu nhiên của con người. Suốt hai năm trời rong ruổi khắp các đền chùa Ấn Độ, chứng kiến nhiều pháp luật, nhiều cảnh mê tín dị đoan, thậm chí lừa đảo nhiều pháp sư, đạo sĩ được tiếp xúc với những vị thế, họ được chứng kiến, trải nghiệm, hiểu biết sâu sắc về các khoa học cổ xưa và bí truyền của văn hóa Ấn Độ như Yoga, thiền định, thuật chiêm duyên, nghiệp báo, luật nhân quả, cõi sống và cõi chết
Đúng lúc một cuộc đối thoại cởi mở và chân thành đang sắp diễn ra với các đạo sĩ bậc thầy, thì đoàn nhận được tối hậu thư từ chính quyền Anh Quốc là phải ngừng ngay việc nghiên cứu, tức khắc hồi hương và bị buộc phải im lặng, không được phát ngôn về bất cứ điều gì mà họ đã chứng nghiệm. Sau cùng ba nhà khoa học trong đoàn đã chấp nhận bỏ lại tất cả sau lưng, ở lại Ấn Độ tiếp tục nghiên cứu và cuối cùng trở thành tu sĩ. Trong số đó có giáo sư Spalding - tác giả hồi ký đặc biệt này.
Nguồn : ebookfull.net
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1052</integer>
		<key>name</key>
		<string>Bên Rặng Tuyết Sơn</string>
		<key>author</key>
		<string>Swami Amar Jyoti</string>
		<key>number_page</key>
		<integer>1143</integer>
		<key>desc</key>
		<string>Bên Rặng Tuyết Sơn là quyển sách mới trong bộ sách khoa học tâm linh nổi tiếng của dịch giả Nguyên Phong. Khơi nguồn từ vùng núi Himalaya xa xôi và vùng đồng bằng Ấn Độ, Bên Rặng Tuyết Sơn mang đến cho bạn đọc những sự thật vĩ đại về tâm linh và vai trò của việc làm chủ tâm linh cũng như làm chủ số phận. Tác phẩm còn khơi dậy những giá trị cao đẹp như: Tính trung thực, trái tim bao dung, lòng trắc ẩn, sự thông thái, lòng tín ngưỡng và tình yêu bao la.
Nguồn : sachvui.vn
        </string>
	</dict>
	<dict>
		<key>isShow</key>
		<true/>
		<key>id</key>
		<integer>1070</integer>
		<key>name</key>
		<string>Cửa Tiệm Của Những Lá Thư</string>
		<key>author</key>
		<string>Yasushi Kitagawa</string>
		<key>number_page</key>
		<integer>1143</integer>
		<key>desc</key>
		<string>Con người không hề sống và cho rằng bản thân thế đã là hoàn hảo. Mọi người đều mang theo nhiều nỗi lo lắng và vấn đề riêng, va chạm với những người khác, tổn thương và làm kẻ khác bị tổn thương rồi mới trở nên trưởng thành hơn.
Những người không bao giờ ngã không có nghĩa là họ mạnh, những người ngã nhưng vẫn đứng lên mới thực sự mạnh mẽ.
Bây giờ, điều diễn ra với mình là may mắn hay bất hạnh, ta không thể phán đoán ngay lập tức. Có thể lúc đó ta coi là điều may mắn, nó lại có thể trở thành xiềng xích ràng lại cuộc đời mình. Nhưng có thể điều ta xem là không may lại giúp rất nhiều người nắm được thành công cũng là sự thật.
Mặt khác, biến &quot;khủng hoảng&quot; thành &quot;cơ hội&quot; là điều cần thiết đối với rất nhiều người thành công.
Tất cả mọi người đều nhờ một cơ hội nào đó mà bắt đầu bước trên con đường thành công.
Cuốn sách này không chỉ dừng lại ở những câu chuyện đời thường, ẩn chứa bên trong là một nội lực to lớn thúc đẩy con người sống hết mình hơn, có trách nhiệm hơn với bản thân và nhất là phải đặt niềm tin tuyệt đối vào những điều mình đang theo đuổi. Rồi một ngày bạn sẽ trở thành một người tốt đẹp như trong chính những giấc mơ của mình và giúp những người khác có một cuộc đời tốt đẹp hơn.
Nguồn : fb/ebookngontinhmienphi
        </string>
	</dict>
</array>
</plist>
